In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Years=[]
for i in range (1956,1960):
    i=str(i)
    Years.append(i)
print(Years)

['1956', '1957', '1958', '1959']

In [3]:
df=pd.read_csv(r"C:\Users\Geord\Desktop\Fortune500\Data\Fortune5001955.csv",index_col=0)
df=df.drop(df.columns[1],axis=1)
Data=df

for y in Years:
    # importing csv
    df=pd.read_csv(r"C:\Users\Geord\Desktop\Fortune500\Data\Fortune500"+ y +".csv",index_col=0)
    df=df.drop(df.columns[1],axis=1)
    Data=pd.concat([df,Data],axis=1)

In [4]:
print(Data)

                       Revenue    Revenue    Revenue    Revenue   Revenue
Company
General Motors        9,522.00  10,989.80  10,796.40  12,443.30  9,823.50
Exxon Mobil           7,543.60   7,830.20   7,126.90   6,272.40  5,661.40
Ford Motor            4,130.30   5,771.30   4,647.00   5,594.00       NaN
General Electric      4,120.80   4,335.70   4,090.00   3,095.40  2,959.10
U.S. Steel            3,472.20   4,413.80   4,228.90   4,097.70  3,250.40
...                        ...        ...        ...        ...       ...
Liquid Carbonic            NaN        NaN        NaN        NaN      51.4
Truax-Traer Coal           NaN        NaN        NaN        NaN      50.5
Bullard                    NaN        NaN        NaN        NaN      50.2
Cuban-American Sugar       NaN        NaN        NaN        NaN      50.1
Goodall-Sanford            NaN        NaN        NaN        NaN      49.7

[616 rows x 5 columns]

In [13]:
print(Data.iloc[600])

Revenue     NaN
Revenue     NaN
Revenue     NaN
Revenue     NaN
Revenue    81.9
Name: Marshall-Wells, dtype: object